:root {
    --main-color: #F6BE9A;
    --secondary-color: #FAF4D3;
    --tertiary-color: #004643;
    --main-background-color: #0C1618;
 }

 .form-range {
  appearance: none;
  -webkit-appearance: none;
  background: #0C1618;
  width: 100%;
  height: 1.5rem;
  border-radius: 1rem;
}

.form-range::-webkit-slider-thumb {
  margin-top: -Xpx; /* Adjust X value to align the thumb with the track */
  appearance: none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: var(--secondary-color);
  cursor: pointer;
  border-radius: 50%;
}

.form-range::-moz-range-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--secondary-color);
  cursor: pointer;
  border-radius: 50%;
}



 .toggle {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
}

.toggle:before {
  box-shadow: 0;
  border-radius: 84.5px;
  background: var(--primary-color);
  position: absolute;
  margin-left: -36px;
  margin-top: -36px;
  opacity: 0.2;
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
}

.toggle .button {
  /* ... (rest of the properties remain the same) ... */
  background: var(--secondary-color);
}

.toggle .label {
  /* ... (rest of the properties remain the same) ... */
  color: rgba(0, 0, 0, 0.9); /* Adjust if you have a specific variable for text color */
}
/* 
... (rest of the CSS remains the same) ... */

/* CHECKBOX DRONE ON/OFF */
/* Custom styling for the switch */
.form-check-input:checked {
  background-color: #0d6efd; /* Bootstrap primary color */
  border-color: #0d6efd; /* Bootstrap primary color */
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); /* Bootstrap primary shadow */
}

/* MULTILINE TEXT */
.multiline-text {
  white-space: pre-line;
}
